.navbarCustom
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%
    background-attachment: #f8f9fa
    -webkit-box-shadow: -1px 3px 12px -6px #000000
    box-shadow: -1px 3px 12px -6px #000000
